* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

body {
	font-size: 12px;
	line-height: 1.3;
	font-family: 'Open Sans', arial, helvetica, sans-serif;
	color: #444;
	background: #fff;
	overflow-y: scroll;
}

a { color: #0252aa; text-decoration: none; cursor: pointer; transition: all 0.3s; }
a:hover { text-decoration: underline; }
a img { border: 0; }
ul { list-style: none; }

input, textarea, select { font-size: 12px; font-family: arial, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.shell { max-width: 960px; margin: 0 auto; padding: 0 10px; }

.main { position: relative; padding: 20px 20px 0 260px; }
.main:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.content { padding: 0 20px; }
.sidebar { position: fixed; top: 0; left: 0; bottom: 0; width: 220px; padding: 20px; background: #f8f8f8; border-right: 1px solid #e7e7e7; }

.github-login { max-width: 500px; text-align: center; padding: 20px 0; margin: 0 auto; }
.github-login img { max-width: 100%; height: auto; }
.github-login a { display: block; color: #fff; background: #000; margin: 20px 20px 0; font-size: 24px; line-height: 40px; padding: 10px 0; border-radius: 8px; text-decoration: none; transition: background 0.3s; }
.github-login a span { padding-right: 10px; }
.github-login a:hover { background: #43b70f; }

.header { background: #f9f9f9; border-bottom: 2px solid #000; box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); padding: 10px 0; }
.header .shell { padding: 10px; background: url('iron-octo-cat.png') right center no-repeat; background-size: auto 60px; }
.user-meta { overflow: hidden; }
.user-image {  }
.user-image a { display: block; }
.user-image img { display: block; width: 220px; height: 220px; border-radius: 4px; margin: 0 auto; }
.user-name { padding-top: 20px; max-width: 220px; margin: 0 auto; }
.user-name h2 { color: #333; }
.user-name h3 { color: #777; font-weight: 400; }
.user-name h4 { padding-top: 10px; }
.user-name h4 a { color: #af0000; background: #fff; display: block; vertical-align: top; border: 1px solid #d9d9d9; padding: 5px 10px; font-weight: normal; text-align: center; text-transform: uppercase; text-decoration: none; }
.user-name h4 a:hover { background: #fee; border-color: #af0000; }

.gist-search { padding: 0 0 10px; }
.gist-search input[type="text"] { border: 1px solid #d9d9d9; padding: 8px 10px; box-sizing: border-box; width: 100%; font-size: 14px; }
.gist-search input[type="text"]:focus { color: #54acd0; border-color: #54acd0; }

.gist-buttons { padding-bottom: 10px; font-size: 0; line-height: 0; }
.gist-buttons a { display: inline-block; vertical-align: top; color: #444; text-decoration: none; border: 1px solid #d9d9d9; padding: 8px 10px; font-size: 14px; line-height: 18px; }
.gist-buttons a + a { margin-left: 10px; }
.gist-buttons a.active,
.gist-buttons a:hover { color: #54acd0; border-color: #54acd0; }
.gist-buttons a.active span { color: #6dcff6; }

.gist-list { padding: 0 0 10px; }
.gist-list li { position: relative; }
.gist-list li h3 { font-weight: normal; background: #fff; border-top: 1px solid #d9d9d9; padding: 8px 100px 8px 10px; position: relative; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; cursor: pointer; }
.gist-list li:nth-child(odd) h3 { background: #f9f9f9; }
.no-stripes .gist-list li h3 { background: #fff; }
.gist-list li h3 strong { color: #fff; background: #6dcff6; border-radius: 2px; }

.gist-tools { position: absolute; top: 9px; right: 0; font-size:  0; line-height: 0; }
.gist-tools a { font-size: 18px; line-height: 20px; color: #999; margin: 0 8px; display: inline-block; vertical-align: top; }

.gist-tools a.active,
.gist-tools a:hover,
.gist-tools a.gist-favorited { color: #6dcff6; }

.gist-pagination { font-size: 0; line-height: 0; margin: 0 -5px; text-align: right; }
.gist-pagination a { display: inline-block; vertical-align: top; color: #777; font-size: 14px; line-height: 18px; min-width: 18px; min-height: 18px; padding: 5px; border: 1px solid #d9d9d9; text-align: center; text-decoration: none; margin: 0 0 10px -1px; }
.gist-pagination a em { display: block; line-height: 18px; }
.gist-pagination a.active,
.gist-pagination a:hover { color: #54acd0; border-color: #54acd0; position: relative; }
.gist .gist-file { border-width: 1px 0; border-color: #d9d9d9; }

/* Loader */
.gists-loading { font-size: 0; line-height: 0; text-align: center; padding-top: 200px; }
.gists-loading span,
.gists-loading span em { width: 100px; height: 100px; border: solid 5px; border-color: #ccc #444; border-radius: 50%; display: inline-block; vertical-align: top; position: relative; }
.gists-loading span em { position: absolute; top: 30px; left: 30px; width: 30px; height: 30px; border-color: #444 #ccc; }

.gists-loading span {
	-webkit-animation:  rotation 1s ease-in-out infinite;
	-moz-animation: rotation 1s ease-in-out infinite;
	-ms-animation: rotation 1s ease-in-out infinite;
	-o-animation: rotation 1s ease-in-out infinite;
	animation: rotation 1s ease-in-out infinite;
}
.gists-loading span em {
	-webkit-animation:  rotation-reverse 1s ease-in-out infinite;
	-moz-animation: rotation-reverse 1s ease-in-out infinite;
	-ms-animation: rotation-reverse 1s ease-in-out infinite;
	-o-animation: rotation-reverse 1s ease-in-out infinite;
	animation: rotation-reverse 1s ease-in-out infinite;
}

@-webkit-keyframes rotation {
	to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes rotation {
	to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes rotation {
	to { -ms-transform: rotate(360deg); }
}

@-o-keyframes rotation {
	to { -o-transform: rotate(360deg); }
}

@keyframes rotation {
	to { transform: rotate(360deg); }
}

@-webkit-keyframes rotation-reverse {
	to { -webkit-transform: rotate(-720deg); }
}

@-moz-keyframes rotation-reverse {
	to { -moz-transform: rotate(-720deg); }
}

@-ms-keyframes rotation-reverse {
	to { -ms-transform: rotate(-720deg); }
}

@-o-keyframes rotation-reverse {
	to { -o-transform: rotate(-720deg); }
}

@keyframes rotation-reverse {
	to { transform: rotate(-720deg); }
}

@media screen and (max-width: 768px) {
	.main { padding: 0; }
	.sidebar { position: static; width: auto; border-right: 0; border-bottom: 1px solid #e7e7e7; }
	.content { padding-top: 20px; }
	
	.gists-loading { padding-top: 100px; }

	.user-image { float: left; }
	.user-image img { width: 77px; height: 77px; margin-right: 20px; }
	.user-name { overflow: hidden; max-width: none; margin: 0; padding: 0; }
}

@media screen and (max-width: 480px) {
	.gist-buttons a { display: block; }
	.gist-buttons a + a { margin: 10px 0 0 0; }
}